# ================================
# Node.js
# ================================
node_modules/
dist/

# ================================
# Python
# ================================
venv/
__pycache__/
*.pyc

# ================================
# Environment Variables
# ================================
.env

# ================================
# VS Code
# ================================
.vscode/

# ================================
# Logs
# ================================
*.log

# ================================
# Build
# ================================
build/

# ================================
# Uploads
# ================================
backend/uploads/

# ================================
# OS Files
# ================================
.DS_Store
Thumbs.db